[Unit]
Description=HuangTrader Daemon
After=network.target

[Service]
# Set WorkingDirectory and ExecStart to your file paths accordingly
# NOTE: %h will be resolved to /home/<username>
WorkingDirectory=%h/HuangTrader
ExecStart=/usr/bin/HuangTrader trade
Restart=on-failure

[Install]
WantedBy=default.target
